body{
	/*background-color:#efefef;*/
	background-color:white;
	padding: 10px;
}

svg {
	overflow: visible;
}

#full-page {
	width: 960px;
	height: 650px;
	margin: 0px auto;
	font-family: "Gill Sans MT","Helvetica Neue", Helvetica, Arial, sans-serif;
	background: white;
	/*border: 1px solid #efeeee;
	box-shadow: 3px 3px 3px #efeeee;*/
}

#map-title{
	font-size:18px;
	margin:5px;
}

#sub-title{
	font-size: 0.8rem;
	font-weight: normal;
	color:#808080;
	margin:5px;
}

#map-container {
/*	clear:left;*/
	top: 0;
	width: 600px;
}

#hist-container {
	float: right;
	/*clear:both;*/
	padding: 25px 0px;
	width: 360px;
}

#full-svg{
	position: fixed;
}

.title{
	text-align: center;
}

.axis path, .axis line{
	fill:none;
	/*stroke:black;*/
	stroke:lightgray;
	shape-rendering:crispEdges;
}

.axis text{
	font-size: 11px;
	fill: #808080;
}

.axis text.district-text {
	font-weight: bold;
	fill: #403e3e;
}

#signature-g text {
	/*font-weight: bold;*/
	font-size:smaller;
	fill: #403e3e;
}